{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head start -->
{% include 'headArea.html' %}
<!-- Head end -->




<body>
 
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>
<!-- Head Area -->

   {% include 'header.html' %}

  <!-- Work Area -->
  {% include 'workArea.html' %}

<!-- About Us Area -->
  
{% include 'aboutUsArea.html' %}
<!-- Facts Area -->
{% include 'factsArea.html' %}

<!-- Service Area -->
{% include 'serviceArea.html' %}
<!-- Pricing area -->
{% include 'tablePricing.html' %}

<!-- Appointment Area -->
{% include 'bookAppointment.html' %}
<!-- Dentist Area -->
{% include 'dentistArea.html' %}
<!-- Testimonials -->
 {% include 'testimonials.html' %}
<!-- Blog area -->
 {% include 'blogArea.html' %}
<!-- footer -->
 {% include 'footer.html' %}
 <!--Js area  -->
 {% include 'js.html' %}



</body>

</html>