{% load static %}
<!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'Website/js/jquery.min.js' %} "></script>
  <!-- Popper js -->
  <script src="{% static 'Website/js/popper.min.js' %} "></script>
  <!-- Bootstrap js -->
  <script src="{% static 'Website/js/bootstrap.min.js' %} "></script>
  <!-- All js -->
  <script src="{% static 'Website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'Website/js/default-assets/active.js' %} "></script>